*{
    font-family: "poppins", sans-serif;
    font-weight: 750;
}
body{
    background: url('assets/plane.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.navbar{
    border-radius: 5px;
    width: 100%;
    height: 4vmax;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(42, 37, 37);
    border: 1px solid #bbb;
}

.navbar .content{
    display: flex;
    gap: 2vw;
    align-items: center;
    padding: 0vh 1vw;
    font-size: 1.2vmax;
}

.navbar .logo{
    color: white;
    display: flex;
    gap: 2vw;
    align-items: center;
    padding: 0vh 1.5vw;
}

.navbar .content button{
    width: 90.1px;
    height: 40.1px;
    background-color: #ff735c;
    color: cyan;
    font-weight: bolder;
    border: 1px solid black;
    border-radius: 7px;
}

.navbar .content a{
    text-decoration: none;
    color: skyblue;
}

.navbar .logo h1{
    font-weight: bolder;
    font-size: 2.5vmax;
}

.navbar .content a:hover{
    color: whitesmoke;
}

.navbar .content button:hover{
    background-color: burlywood;
}

.container {
    width: 30vw;
    padding: 2vw;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 0 8px black;
    backdrop-filter: blur(25px);
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 1vh;

    font-weight: bolder;
}

input {

    padding: 2vmin;
    margin-bottom: 2vmin;
    border: 2px solid rgba(255, 255, 255, .2);
    border-radius: 4px;
    background-color: transparent;
}

input::placeholder{
    color: #000;
}

.container .btn{
    padding: 1vh 2vw;
    background: rgb(29, 125, 226);
    border: 1px solid black;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    font-weight: bolder;
    font-size: 1.5vmax;
    color: white;
}

.btn:hover {
    background-color: #0056b3;
}

footer{
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: rgb(42, 37, 37);
    color: white;
}

footer p{
    padding: 0vmax 2vmax;
}